.loadingContainer {
  text-align: center;
  margin-top: 5em;
}

.loadingContainer p {
  color: var(--blue);
  font-size: 2em;
  font-weight: 600;
}

.circleSpin {
  --size: 48px;
  --stroke-width: calc(var(--size) / 6);
  --color: currentColor;
  --animation-duration: 1s;
  position: relative;
  width: var(--size);
  height: var(--size);

  display: inline-block;
}

.circleSpin::before,
.circleSpin::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: var(--stroke-width);
  border-style: solid;
  border-color: var(--color) var(--color) transparent transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-duration) infinite circleSpin-animation;
}

.circleSpin::before {
  animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
}

.circleSpin::before {
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes circleSpin-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}