@charset "UTF-8";

html{overflow:auto;}

body{
    color: #333;
    font: 16px/2 sans-serif;
    overflow:hidden;
    --scroll-gap: 30px;
}
@keyframes infiniteScroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scroll_track {
    animation: infiniteScroll 10s linear infinite;
  }

  &:hover {
    animation-play-state: paused;
  }

img{
    width:100%;
    vertical-align:bottom;
}

a{text-decoration:underline;}

header{padding:10px 0;}

nav{background-color:#cc0033;}

nav li a{
    white-space: nowrap;
    font-weight: bold;
    text-decoration:none;
    display: block;
    padding:0.5em 1.5em;
    color:#fff;
    border-bottom:#ccc dotted 0.5px;
}

nav li a:hover{
    background-color:#0002;
}

h2{
    font-size:1.5em;
    font-weight:bold;
    margin:1em 0 0.5em 0;
    border-left:10px solid #cc0033;
    padding-left:0.2em;
}
h3{
    background-color:#eee;
    font-weight:bold;
    padding:5px;
    margin-top:1.5em;
}
h4{
    font-size:1em;
    text-align:left;
    border-left:10px solid #cc0033;
    font-weight:bold;
    color: #cc0033;
    padding-left:0.5em;
    margin-bottom:20px;
}

#contents{
    width:95%;
    margin:10px auto;
}

aside{
    padding:0 10px;
}
aside li{
    display:inline;
    font-size:0.8em;
    margin:10px 0.6em 0 0;
}
aside ul{
    text-align:center;
}
aside ul&gtli::before {
    content: "\f152";
    position: relative;
    font-family: FontAwesome;
    margin-right: .5em;
    color:#cc0033;
}
video{
    max-width: 100%;background-color:#fff;
}
footer{
    background-color:#eee;
    padding:10px;
    text-align:center;
    font-weight:bold;
    margin-top:10px;
}
.mt10{margin-top:1em;}
.mt20{margin-top:2em;}
.small{font-size:small;}

#none{display: none;}



@media screen and (min-width:600px){
    header{
        max-width:800px;
        margin-left:50px;
    }


nav ul{display:flex;width:80%;margin:auto;}
nav li{width:20%;text-align: center;}
nav li a{border-bottom:none;}
nav li a:hover{
    transition: background-color 0.5s linear;
}
nav li :not(:last-child){
    border-right: 1px dotted #D692A3
}
main{
    display:flex;
    justify-content: space-between;
    width:100%;max-width: 1400px;
    padding:5px;
    margin:auto;
}
aside{
    width:30%;max-width:450px;
    text-align: left;
    padding:10px 0 0 30px;
    margin-left:30px;
    border-left:dotted 1px #ccc;
}
aside li{
    display:block;
	font-size:1em;
}
 
aside ul{
    text-align:left;
}
#contents{max-width:950px;}
#none{display:block;}
}