@charset "UTF-8";

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-300%);
    }
}

/*縦方向にスクロールが可能*/
html {
    overflow: auto;
}

body {
    margin:0;
    padding: 0; /*余白なし*/
    color: #333; /*文字の色*/
    font: 16px/2 sans-serif;
    overflow-x: hidden;
}

header {
    padding: 10px 0;
    max-width: 800px;
    margin-left: 50px;
}

.header-img {
    width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

nav {
    background-color:#cc0033;
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

nav li {
    text-align: center;
    border-right: 1px dotted #D692A3;
    width: 20%;
}

nav li:last-child {
    border-right: none;
}

/*navの境界線*/
/*レスポンシブ対応で解決メディアクエリを追加で書く
contentとasideを1つの大きなdivで囲む*/
nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1.5em;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* 修正箇所 main*/
main {
    display: flex;
    justify-content: space-between; /*要素を均等に配置*/
    max-width: 1400px;
    margin: 32px auto 0;
    padding: 5px;
}

.scroll_wrap {
    width: 100%;
}

.scroll_inner {
    margin: 0;
    padding: 0;
    display: flex;

    animation: infinity-scroll-left 20s linear infinite;
}

.scroll_inner:hover {
  animation-play-state: paused;
}

.scroll_cont img {
    width: 100vw;
    vertical-align: bottom;
}


img{
    /*width: 600px;*/
    width: 100%;
    height: auto;
    vertical-align:bottom;
}

h2{
    font-size:1.5em;
    font-weight:bold;
    margin:1em 0 0.5em 0;
    border-left:10px solid #cc0033;
    padding-left:0.2em;
}

/* 追加箇所 */
.cont_p {
    margin: 0;
}

/* 修正箇所 h3*/
h3{
    background-color:#eee;
    font-size: 16px;
    font-weight:bold;
    padding:5px;
    margin: 1.5em 0 0;
}

/* 修正箇所 h4*/
h4{
    font-size:1em;
    text-align:left;
    border-left:10px solid #cc0033;
    font-weight:bold;
    color: #cc0033;
    padding-left:0.5em;
    margin: 0 0 20px;
}

/* 修正箇所 #contents*/
#contents{
    max-width: 950px;
    margin:10px 0;
}

/* 修正箇所 aside*/
aside{
    width: 30%;
    max-width: 450px;
    margin: 0 0 0 30px;
    padding:10px 0 0 30px;
    border-left: dotted 1px #ccc;
}

aside li{
    display:block;
    font-size:1.0em;
    margin:10px 0.6em 0 0;
}

/* 追加箇所 */
.aside_ul {
    margin: 0;
    padding: 0;
}

.aside_ul i::before {
    margin-right: 0.5em;
}

.aside_ul a {
    color: #333;
}

video{
    max-width: 100%;
    background-color:#fff;
}
footer{
    background-color:#eee;
    padding:10px;
    text-align:center;
    font-weight:bold;
    margin-top:10px;
}

/* 修正箇所 .mt10*/
.mt10{margin:1em 0 0;}
.mt20{margin-top:2em;}
.small{font-size:small;}

@media screen and (max-width:600px) {
    #none{display: none;}
}

