@charset "UTF-8";

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-300%);
    }
}

/*縦方向にスクロールが可能*/
html {
    overflow: auto;
}

body {
    margin:0;
    padding: 0; /*余白なし*/
    color: #333; /*文字の色*/
    font: 16px/2 sans-serif;
    overflow-x: hidden;
}

header {
    padding: 10px 0;
    max-width: 800px;
    margin-left: 50px;
}

.header-img {
    width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

nav {
    background-color:#cc0033;
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

nav li {
    text-align: center;
    border-right: 1px dotted #D692A3;
    width: 20%;
}

nav li:last-child {
    border-right: none;
}

/*navの境界線*/
/*レスポンシブ対応で解決メディアクエリを追加で書く
contentとasideを1つの大きなdivで囲む*/
nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1.5em;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    justify-content: space-between; /*要素を均等に配置*/
    max-width: 1400px;
    margin: auto;
    padding: 5px;
}

.scroll_wrap {
    width: 100%;
}

.scroll_inner {
    margin: 0;
    padding: 0;
    display: flex;

    animation: infinity-scroll-left 20s linear infinite;
}

.scroll_inner:hover {
  animation-play-state: paused;
}

.scroll_cont img {
    width: 100vw;
    vertical-align: bottom;
}











h2{
    font-size:1.5em;
    font-weight:bold;
    margin:1em 0 0.5em 0;
    border-left:10px solid #cc0033;
    padding-left:0.2em;
}

h3{
    
    background-color:#eee;
    font-weight:bold;
    padding:5px;
    margin-top:1.5em;
}

h4{
    font-size:1em;
    text-align:left;
    border-left:10px solid #cc0033;
    font-weight:bold;
    color: #cc0033;
    padding-left:0.5em;
    margin-bottom:20px;
}

#contents{
    /*width:95%;*/
    max-width: 850px;
    margin:10px auto;
}

aside{
    padding:0 10px;
    width: 28%;
    max-width: 400px;
    margin-left: 0;
}
aside li{
    display:inline;
    font-size:0.8em;
    margin:10px 0.6em 0 0;
}
aside ul{
    text-align:center;
}
aside ul>li::before {
    content: "\f152";
    position: relative;
    font-family: FontAwesome;
    margin-right: .5em;
    color:#3E5B9A;
}
video{
    max-width: 100%;background-color:#fff;
}
footer{
    background-color:#eee;
    padding:10px;
    text-align:center;
    font-weight:bold;
    margin-top:10px;
}
.mt10{margin-top:1em;}
.mt20{margin-top:2em;}
.small{font-size:small;}

@media screen and (max-width:600px) {
    #none{display: none;}
}

