.post {
  background-color: var(--white);
  padding: 15px;
  height: 100%;
  max-width: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.post:hover {
  transform: translateY(-5px);
  /*cursor: default;*/
}
.post h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #00274d;
  width: 100%;
  white-space: normal;
  overflow: visible;
  text-align: center;
  /*text-overflow: ellipsis;*/
}
.post p {
  font-size: 0.9em;
  color: #666;
}
.tagContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tagContainer p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  font-size: 0.9em;
  background-color: #e0e7ff;
  border: none;
  border-radius: 6px;
  color: var(--blue);
  margin: 5px 5px 0 0;
  cursor: default;
}
.nameday p{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
