.logo {
  width: 76.66px;
  height: 76.66px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
}

.header {
  background-color: var(--blue);
  color: var(--white);
  padding: 20px;
  text-align: center;
  position: relative;
}

.header h1 {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.header p {
  font-size: 1em;
}